{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h1>Welcome, user1</h1>
    </div>
    <div class="col-md-4">
        <h3>My projects</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consequatur cupiditate ducimus eaque enim expedita explicabo, non possimus ut. Adipisci beatae, cupiditate eius excepturi fuga harum laudantium placeat voluptates.</p>
    </div>
    <div class="col-md-4">
        <h3>My files</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, aut cumque dicta ducimus earum, eligendi fugiat harum id ipsa laboriosam laborum magni maiores maxime recusandae repudiandae sequi sit tenetur voluptatibus!</p>
    </div>
    <div class="col-md-4">
        <h3>My profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at beatae dicta dolore, eveniet, ipsa iste laboriosam maiores nam nesciunt numquam pariatur placeat praesentium quis quod repellat repellendus voluptate voluptatibus.</p>
    </div>
{% endblock %}