@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

* {
    font-family: Nunito, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 40px;
}

a.delete {
    color: #c9302c !important;
    font-weight: bold !important;
}

.table .table-id {
    /*text-align: right;*/
    width: 12px;
}

.table .projects-name {
}

.table .projects-status {
    width: 140px;
}

.table .projects-assigned {
    width: 200px;
}

.table .projects-last-update {
    width: 140px;
}

.table .projects-actions {
    width: 124px;
}

.table .files-actions {
    width: 100px;
}

.table .people-actions {
    width: 110px;
}

/* Fix to panel headings so it can accomodate buttons */
.panel-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 16px;
    color: inherit;
    line-height: 16px;
}

.panel-action {
    margin-left: 1em;
}

p.reply {
    border-bottom: 1px solid #ddd;
    margin-top: -0.5em;
    padding-bottom: 1.75em;
}

.glyphicon-reply {
    transform: scaleX(-1);
}

footer.navbar {
    min-height: 30px;
    color: #9d9d9d;
}

footer.navbar p {
    margin: 0;
    line-height: 30px;
}

.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-65%);
}